<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="" type="favicon/png">
    <title>Weather</title>
</head>
<body>
    <div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-snowflake"></i>  WeatherInfo <i class="fa-solid fa-snowflake fa-flip" style="color: #31c94a;"></i>  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                      </li>
                  </ul>
                </div>
              </nav>

        </div>
    </div>
   </div>
   <!--- main header-->
   <div class="card">
      <div class="search">
        <input type="text" placeholder="Enter The City" spellcheck="false">
        <button class="searchBtn">search</button>
      </div>
      <div class="weather">
        <img src="images/cloud.jpg" class="weather-icon">
        <h1 class="temp"> 22<sup>o</sup>c
        </h1>
        <h2 class="city">city</h2>
        <div class="details">
            <div class="col">
                <img src="images/humidity.jpg">
                <div>
                    <p class="humidity">50%</p>
                    <p>humidity</p>
                </div>
            </div>
             <div class="col">
                <img src="images/wind.jpg">
                <div>
                    <p class="wind">15 km/h</p>
                    <p>wind speed</p>
                </div>
            </div>
        </div>
      </div>
   </div>

   <footer>
    <p>created with love by AJ Rathour</p>
   </footer>
   <script >
const apiUrl = ` https://api.openweathermap.org/data/2.5/weather?units=metric&q=`;
const apiKey = '404205adcfa05c84eafd8a62427fa38e';

const searchBox = document.querySelector(".search input")
const searchBtn = document.querySelector(".searchBtn")
const weatherIcon = document.querySelector(".weather-icon");

async function checkWeather(city) {
    const res = await fetch(apiUrl  + city + `&appid=${apiKey}`);
    let data =await res.json();

    console.log(data)

    document.querySelector('.city').innerHTML = data.name;
    document.querySelector('.temp').innerHTML = Math.round(data.main.temp) +'°C';
    document.querySelector('.humidity').innerHTML =data.main.humidity + '%';
    document.querySelector('.wind').innerHTML = data.wind.speed + "km/h";

    if (data.weather[0].main == 'clouds'){
        weatherIcon.src = "images/clouds.png";
    } else if (data.weather[0].main == 'rain' ){
        weatherIcon.src = "images/rain.png";
    } else if (data.weather[0].main == 'sunny' || 'clear'){
        weatherIcon.src = "images/sun.png";
    }
       

}

searchBtn.addEventListener("click", () => {
    checkWeather(searchBox.value)
})
   </script>
</body>
</html> 